<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image-link</title>
</head>
<body>
    <div class="card">
        <a href="https://game8.co/games/Genshin-Impact/archives/462016"><img src="https://img.game8.co/3977569/1727450c8bc169e1936db5bb5af2f991.png/show" alt="img"></a>
        
        <p class="caption">
            🔥 Mavuika, the Pyro Archon: Reigning sovereign of Natlan, she embodies the relentless spirit of fire and the unyielding will of war. Lady of flames, guardian of the passionate heart. 🔥</p>
    </div>
</body>
</html>