<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
</head>
<body>
    <table border>
        <tr>
            <td class="title">time</td>
            <td class="title">monday</td>
            <td class="title">tuesday</td>
            <td class="title">wednesday</td>
            <td class="title">thrusday</td>
            <td class="title">friday</td>
            <td class="title">saturday</td>
        </tr>
        <tr>
            <td class="title">morning</td>
            <td>leetcode: 667</td>
            <td>leetcode: 937</td>
            <td>leetcode: 267</td>
            <td>leetcode: 367</td>
            <td>leetcode: 267</td>
            <td>leetcode: 236</td>
        </tr>
        <tr>
            <td class="title">afternoon</td>
            <td>play basketball</td>
            <td>play video games</td>
            <td>watch TV</td>
            <td>hang out with friends</td>
            <td>play soccer</td>
            <td>go to gym</td>
        </tr>
        <tr>
            <td class="title">evening</td>
            <td>study for exam</td>
            <td>do homework</td>
            <td>watch movie</td>
            <td>listen to music</td>
            <td>read book</td>
            <td>play poker</td>
        </tr>
    </table>
</body>
</html>